Repository mizozobu/gotobyu.com: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint, yarn prettier --check --loglevel warn ., yarn stylelint

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx}": [
    "yarn eslint",
    "yarn prettier --check --loglevel warn ."
  ],
  "**/*.css": [
    "yarn stylelint",
    "yarn prettier --check --loglevel warn ."
  ]
}

chore: add unifiedjs.vscode-mdx to extensions.json
  .vscode/extensions.json
Due: none

fix: update alphavantage API
  src/features/forex/api/getForex.ts
  src/features/forex/types/index.ts
Due: yarn eslint, yarn prettier --check --loglevel warn .

build: log alphavantage error details
  src/features/forex/api/getForex.ts
Due: yarn eslint, yarn prettier --check --loglevel warn .

test: update snapshots
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-schools-byu-1-webkit-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-schools-byu-1-webkit-tablet-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-schools-byuh-1-webkit-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-schools-byuh-1-webkit-mobile-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-schools-byuh-1-webkit-tablet-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-schools-byui-1-webkit-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-schools-byui-1-webkit-mobile-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-schools-byui-1-webkit-tablet-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-apply-1-webkit-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-apply-1-webkit-tablet-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-internship-1-webkit-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-internship-1-webkit-tablet-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-learn-english-1-webkit-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-learn-english-1-webkit-mobile-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-learn-english-1-webkit-tablet-linux.png
Due: none

refactor: local algolia error state
  src/components/organisms/Header/Header.tsx
  src/features/search/components/CustomStateResults/CustomStateResults.tsx
  src/features/search/components/SearchDialog/SearchDialog.tsx
  src/lib/recoil.ts
  src/states/algolia/algolia.atom.ts
  src/states/algolia/algolia.constants.ts
  src/states/algolia/algolia.interface.ts
  src/states/algolia/index.ts
Due: yarn eslint, yarn prettier --check --loglevel warn .

style: prettify .lintstagedrc
  .lintstagedrc
Due: none

build: upgrade to node 18
  package.json
Due: none

refactor: migrate axios to fetch
  package.json
  src/features/forex/api/getForex.ts
  src/lib/api-client.ts
  yarn.lock
Due: yarn eslint, yarn prettier --check --loglevel warn .

build: add --openssl-legacy-provider to storybook until @storybook/builder-webpack4 is removed
  package.json
Due: none

refactor: refactor rest client
  src/features/forex/api/getForex.ts
  src/lib/api-client.ts
  src/lib/rest.ts
Due: yarn eslint, yarn prettier --check --loglevel warn .

refactor: migrate to chart.js v4
  package.json
  src/components/molecules/BarChart/BarChart.tsx
  src/components/molecules/PieChart/PieChart.tsx
  yarn.lock
Due: yarn eslint, yarn prettier --check --loglevel warn .

test: jest esm
  jest.config.ts
  jest.setup.ts
  package.json
  src/components/atoms/Type/Type.spec.tsx
  src/components/molecules/HeaderMenuLink/HeaderMenuLink.spec.tsx
  src/components/molecules/HeaderMenuLink/HeaderMenuLink.tsx
  src/components/molecules/HeaderMobileMenuLink/HeaderMobileMenuLink.spec.tsx
  src/components/molecules/Modal/Modal.spec.tsx
  src/components/molecules/PageCard/PageCard.spec.tsx
  src/components/molecules/PageCard/PageCard.tsx
  src/components/molecules/PhotoViewer/PhotoViewer.spec.tsx
  src/components/molecules/SwitchControl/SwitchControl.spec.tsx
  src/components/molecules/TypingEffect/TypingEffect.spec.tsx
  src/data/links.tsx
  src/features/index/utils/AlgoliastBuilder.spec.ts
  src/features/search/components/HitItem/HitItem.spec.tsx
  src/features/search/utils/createCustomAlgoliaSearchClient.spec.ts
  src/hooks/useMediaMinWidth.spec.ts
  src/types/icon.d.ts
  yarn.lock
Due: yarn eslint, yarn prettier --check --loglevel warn .

test: update snapshots
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-compare-1-chromium-mobile-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-compare-1-webkit-mobile-linux.png
Due: none

refactor: rm deprecated @headlessui/react Dialog.Overlay
  src/components/molecules/Modal/Modal.tsx
Due: yarn eslint, yarn prettier --check --loglevel warn .

test: update snapshots
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-career-1-chromium-mobile-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-compare-1-chromium-mobile-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-internship-1-chromium-mobile-linux.png
Due: none

style: run prettier
  src/features/index/utils/AlgoliastBuilder.spec.ts
  src/lib/recoil.ts
Due: yarn eslint, yarn prettier --check --loglevel warn .

fix: fix index page overflow scroll spacing using grid layout
  src/features/misc/routes/index.tsx
Due: yarn eslint, yarn prettier --check --loglevel warn .

test: update snapshots
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-1-webkit-tablet-linux.png
Due: none

fix: scroll issue for smaller screen sizes
  src/styles/globals.css
Due: yarn prettier --check --loglevel warn ., yarn stylelint

refactor: rm dupelicated createPortal for Modal
  src/components/molecules/Modal/Modal.tsx
Due: yarn eslint, yarn prettier --check --loglevel warn .

chore: ignore test-results from linters
  .eslintignore
  .prettierignore
  .stylelintignore
Due: none

test: update snapshots
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-1-chromium-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-1-chromium-mobile-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-1-firefox-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-1-webkit-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-1-webkit-mobile-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-1-webkit-tablet-linux.png
Due: none

perf: fix lighthouse "Tap targets are not sized appropriately"
  src/features/apply/routes/apply.mdx
  src/features/compare/routes/compare.mdx
Due: none

ci: migrate set-output to $GITHUB_OUTPUT
  .github/actions/analyze/action.yaml
  .github/actions/prepare-playwright/action.yaml
  .github/actions/prepare/action.yaml
  .github/workflows/update-snapshots.yaml
Due: none

ci: include mdx files in cache key
  .github/actions/build/action.yaml
Due: none

test: update snapshots
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-apply-1-chromium-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-apply-1-chromium-mobile-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-apply-1-firefox-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-apply-1-webkit-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-apply-1-webkit-mobile-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-apply-1-webkit-tablet-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-compare-1-chromium-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-compare-1-chromium-mobile-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-compare-1-firefox-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-compare-1-webkit-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-compare-1-webkit-mobile-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-compare-1-webkit-tablet-linux.png
Due: none

ci: fix nextjs-bundle-analysis
  .github/actions/analyze/action.yaml
Due: none
