Repository mizozobu/gotobyu.com: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint, yarn prettier --check --loglevel warn ., yarn stylelint

ci: vercel workaround
  .stylelintignore
  package.json
  src/lib/algolia/algolia.fixture.tsx
  src/lib/algolia/node/node.util.spec.ts
  src/lib/algolia/node/node.util.ts
  src/pages/_middleware.ts
  yarn.lock
Due: yarn eslint, yarn prettier --check --loglevel warn .

chore: upgrade nodejs to 16.14.0
  jest.config.mjs
Due: none

test: avoid import .json to avoid experimental import assertions syntax
  jest.config.mjs
Due: none

chore: Update dependency next-sitemap to ^2.4.4
  package.json
  yarn.lock
Due: none

chore: Update dependency next-sitemap to ^2.4.5
  package.json
  yarn.lock
Due: none

feat: stats recoil state
  src/components/molecules/BarChartLoader/BarChartLoader.tsx
  src/components/organisms/CostTable/CostTable.stories.tsx
  src/components/organisms/CostTable/CostTable.tsx
  src/components/organisms/IncomeBarChart/IncomeBarChart.tsx
  src/components/organisms/TuitionBarChart/TuitionBarChart.stories.tsx
  src/components/organisms/TuitionBarChart/TuitionBarChart.tsx
  src/containers/CurrencySwitchControl.tsx
  src/containers/ExrateAnnotation.tsx
  src/containers/LDSSwitchControl.tsx
  src/containers/tips/compare/CostTable.tsx
  src/containers/tips/compare/TuitionBarChart.tsx
  src/lib/recoil/recoil.constants.ts
  src/lib/recoil/recoil.interface.ts
  src/pages/tips/career.mdx
  src/pages/tips/compare.mdx
  src/pages/tips/internship.mdx
  src/states/stats/index.ts
  src/states/stats/stats.atom.ts
  src/states/stats/stats.constants.ts
  src/states/stats/stats.interface.ts
Due: yarn eslint, yarn prettier --check --loglevel warn .

refactor: reorgainze @l/algolia
  package.json
  src/components/atoms/CustomPoweredBy/CustomPoweredBy.stories.tsx
  src/components/molecules/HitItem/HitItem.stories.tsx
  src/components/organisms/CustomInfiniteHits/CustomInfiniteHits.stories.tsx
  src/components/organisms/SearchDialog/SearchDialog.tsx
  src/lib/algolia/algolia.constants.ts
  src/lib/algolia/algolia.fixture.tsx
  src/lib/algolia/algolia.interface.ts
  src/lib/algolia/algolia.provider.tsx
  src/lib/algolia/algolia.util.spec.ts
  src/lib/algolia/algolia.util.ts
  src/lib/algolia/builder/builder.util.spec.ts
  src/lib/algolia/builder/builder.util.ts
  src/lib/algolia/builder/index.ts
  src/lib/algolia/client/client.interface.ts
  src/lib/algolia/client/client.provider.tsx
  src/lib/algolia/client/client.util.spec.ts
  src/lib/algolia/client/client.util.ts
  src/lib/algolia/client/index.ts
  src/lib/algolia/index.ts
  src/lib/algolia/node/node.util.spec.ts
  src/lib/algolia/node/node.util.ts
  src/pages/_document.tsx
  src/stories/mock/algolia.tsx
Due: yarn eslint, yarn prettier --check --loglevel warn .

feat: index in postbuild
  package.json
  src/bin/.eslintrc.js
  src/bin/algolia.ts
  src/bin/loader.mjs
  src/lib/algolia/algolia.constants.ts
  tsconfig.json
Due: yarn eslint, yarn prettier --check --loglevel warn .

feat: switch from mdast to hast
  .eslintrc.js
  package.json
  src/lib/algolia/algolia.constants.ts
  src/lib/algolia/algolia.fixture.ts
  src/lib/algolia/algolia.interface.ts
  src/lib/algolia/algolia.util.spec.ts
  src/lib/algolia/algolia.util.ts
  src/lib/algolia/index.ts
  yarn.lock
Due: yarn eslint, yarn prettier --check --loglevel warn .

feat: apply data-noindex
  src/components/molecules/DeadlineTable/DeadlineTable.tsx
  src/components/molecules/EnglishRequirementTable/EnglishRequirementTable.tsx
  src/components/molecules/PhotoViewer/PhotoViewer.tsx
  src/components/molecules/SwitchControl/SwitchControl.tsx
  src/components/organisms/CopiedDialog/CopiedDialog.tsx
  src/components/organisms/CostTable/CostTable.tsx
  src/components/organisms/Footer/Footer.tsx
  src/components/organisms/Header/Header.tsx
  src/components/organisms/SchoolTable/SchoolTable.tsx
  src/pages/_app.tsx
Due: yarn eslint, yarn prettier --check --loglevel warn .

fix: fix mapToOperations
  src/lib/algolia/node/node.util.ts
Due: yarn eslint, yarn prettier --check --loglevel warn .

feat: imprv indexing charts
  src/components/organisms/IncomeBarChart/IncomeBarChart.tsx
  src/components/organisms/InternSalaryPieChart/InternSalaryPieChart.tsx
  src/components/organisms/TuitionBarChart/TuitionBarChart.tsx
  src/pages/schools/byuh.mdx
Due: yarn eslint, yarn prettier --check --loglevel warn .

feat: better accessibility
  src/components/organisms/Header/Header.tsx
  src/styles/globals.css
  yarn.lock
Due: yarn eslint, yarn prettier --check --loglevel warn ., yarn stylelint

feat: index mdx in algolia
  .eslintrc.js
  package.json
  src/lib/algolia/algolia.fixture.ts
  src/lib/algolia/algolia.interface.ts
  src/lib/algolia/algolia.util.spec.ts
  src/lib/algolia/algolia.util.ts
  src/lib/algolia/index.ts
  yarn.lock
Due: yarn eslint, yarn prettier --check --loglevel warn .

refactor: reorganize algolia directory
  src/lib/algolia/builder/builder.constants.ts
  src/lib/algolia/builder/builder.fixture.ts
  src/lib/algolia/builder/builder.interface.ts
  src/lib/algolia/builder/builder.util.spec.ts
  src/lib/algolia/builder/builder.util.ts
  src/lib/algolia/builder/index.ts
  src/lib/algolia/index.ts
Due: yarn eslint, yarn prettier --check --loglevel warn .

perf: dynamic import PhotoViewer
  src/components/molecules/ImageLoader/ImageLoader.stories.tsx
  src/components/molecules/ImageLoader/ImageLoader.tsx
  src/components/molecules/ImageLoader/index.ts
  src/components/molecules/PhotoViewer/PhotoViewer.module.css
  src/components/molecules/PhotoViewer/PhotoViewer.tsx
  src/components/organisms/DynamicPhotoViewer/DynamicPhotoViewer.tsx
  src/components/organisms/DynamicPhotoViewer/index.ts
  src/pages/schools/byu.mdx
  src/pages/schools/byuh.mdx
  src/pages/schools/byui.mdx
Due: yarn eslint, yarn prettier --check --loglevel warn ., yarn stylelint

feat: index in algolia in getStaticProps
  src/lib/algolia/algolia.constants.ts
  src/lib/algolia/algolia.util.ts
  src/pages/tips/compare.mdx
Due: yarn eslint, yarn prettier --check --loglevel warn .

feat: chart loader
  src/components/atoms/PartialCircle/PartialCircle.stories.tsx
  src/components/atoms/PartialCircle/PartialCircle.tsx
  src/components/atoms/PartialCircle/index.ts
  src/components/molecules/BarChart/BarChart.stories.tsx
  src/components/molecules/BarChart/BarChart.tsx
  src/components/molecules/BarChartLoader/BarChartLoader.stories.tsx
  src/components/molecules/BarChartLoader/BarChartLoader.tsx
  src/components/molecules/BarChartLoader/index.ts
  src/components/molecules/PieChart/PieChart.stories.tsx
  src/components/molecules/PieChart/PieChart.tsx
  src/components/molecules/PieChartLoader/PieChartLoader.stories.tsx
  src/components/molecules/PieChartLoader/PieChartLoader.tsx
  src/components/molecules/PieChartLoader/index.ts
  src/components/organisms/DynamicBarChart/DynamicBarChart.tsx
  src/components/organisms/DynamicBarChart/index.ts
  src/components/organisms/DynamicPieChart/DynamicPieChart.tsx
  src/components/organisms/DynamicPieChart/index.ts
  src/components/organisms/IncomeBarChart/IncomeBarChart.stories.tsx
  src/components/organisms/IncomeBarChart/IncomeBarChart.tsx
  src/components/organisms/InternSalaryPieChart/InternSalaryPieChart.tsx
  src/components/organisms/TuitionBarChart/TuitionBarChart.tsx
  src/pages/tips/career.mdx
  src/pages/tips/compare.mdx
  src/pages/tips/internship.mdx
  tailwind.config.js
Due: yarn eslint, yarn prettier --check --loglevel warn .

fix: remove space from SectionTitle
  src/components/molecules/SectionTitle/SectionTitle.tsx
Due: yarn eslint, yarn prettier --check --loglevel warn .

feat: highlight h1 hit item
  src/components/organisms/CustomInfiniteHits/CustomInfiniteHits.module.css
  src/components/organisms/CustomInfiniteHits/CustomInfiniteHits.tsx
Due: yarn eslint, yarn prettier --check --loglevel warn ., yarn stylelint

feat: algolia client
  .env.development
  .env.test
  package.json
  src/bin/.eslintrc.js
  src/bin/algolia.ts
  src/bin/loader.mjs
  src/lib/algolia/builder/builder.fixture.ts
  src/lib/algolia/builder/builder.interface.ts
  src/lib/algolia/builder/builder.util.spec.ts
  src/lib/algolia/builder/builder.util.ts
  src/lib/algolia/client/client.constants.ts
  src/lib/algolia/client/client.interface.ts
  src/lib/algolia/client/client.util.spec.ts
  src/lib/algolia/client/client.util.ts
  src/lib/algolia/client/index.ts
  src/lib/algolia/index.spec.ts
  src/lib/algolia/index.ts
  yarn.lock
Due: yarn eslint, yarn prettier --check --loglevel warn .

feat: imprv indexing tables
  src/components/atoms/Table/Table.tsx
  src/components/atoms/TableCaption/TableCaption.stories.tsx
  src/components/atoms/TableCaption/TableCaption.tsx
  src/components/molecules/DeadlineTable/DeadlineTable.stories.tsx
  src/components/molecules/DeadlineTable/DeadlineTable.tsx
  src/components/molecules/EnglishRequirementTable/EnglishRequirementTable.stories.tsx
  src/components/molecules/EnglishRequirementTable/EnglishRequirementTable.tsx
  src/components/organisms/BYUDeadlineTable/BYUDeadlineTable.tsx
  src/components/organisms/BYUHDeadlineTable/BYUHDeadlineTable.tsx
  src/components/organisms/BYUIDeadlineTable/BYUIDeadlineTable.tsx
  src/components/organisms/CostTable/CostTable.tsx
  src/components/organisms/EikenTable/EikenTable.tsx
  src/components/organisms/IELTSTable/IELTSTable.tsx
  src/components/organisms/PTETable/PTETable.tsx
  src/components/organisms/SchoolTable/SchoolTable.tsx
  src/components/organisms/TOEFLTable/TOEFLTable.tsx
Due: yarn eslint, yarn prettier --check --loglevel warn .

style: format with prettier-plugin-tailwindcss
  src/components/atoms/CustomStats/CustomStats.tsx
  src/components/molecules/HitItem/HitItem.tsx
  src/components/organisms/CustomInfiniteHits/CustomInfiniteHits.tsx
  src/components/organisms/SearchDialog/SearchDialog.tsx
Due: yarn eslint, yarn prettier --check --loglevel warn .

fix: exit the process when target file does not exist when indexing
  src/lib/algolia/node/node.util.ts
Due: yarn eslint, yarn prettier --check --loglevel warn .

chore: add jest debugger
  .vscode/launch.json
  package.json
Due: none

style: manually fix import order in .mdx
  src/lib/recoil/recoil.hook.ts
  src/lib/recoil/recoil.util.ts
  src/pages/schools/byu.mdx
  src/pages/schools/byuh.mdx
  src/pages/schools/byui.mdx
  src/pages/tips/apply.mdx
  src/pages/tips/career.mdx
  src/pages/tips/compare.mdx
  src/pages/tips/internship.mdx
  src/pages/tips/learn-english.mdx
Due: yarn eslint, yarn prettier --check --loglevel warn .

feat: append delimiter after indexed sentense
  src/lib/algolia/algolia.fixture.tsx
  src/lib/algolia/algolia.interface.ts
  src/lib/algolia/node/node.util.spec.ts
  src/lib/algolia/node/node.util.ts
  src/pages/tips/compare.mdx
Due: yarn eslint, yarn prettier --check --loglevel warn .

refactor: add Stye component
  src/components/atoms/BorderDraw/BorderDraw.tsx
  src/components/atoms/Style/Style.stories.tsx
  src/components/atoms/Style/Style.tsx
  src/components/atoms/Style/index.ts
  src/components/atoms/Table/Table.tsx
  src/components/atoms/Type/Type.tsx
Due: yarn eslint, yarn prettier --check --loglevel warn .

refactor: rm @d directory alias
  src/bin/algolia.ts
  src/components/molecules/DeadlineTable/DeadlineTable.tsx
  src/components/molecules/EnglishRequirementTable/EnglishRequirementTable.tsx
  src/components/organisms/BYUDeadlineTable/BYUDeadlineTable.stories.tsx
  src/components/organisms/BYUDeadlineTable/BYUDeadlineTable.tsx
  src/components/organisms/BYUHDeadlineTable/BYUHDeadlineTable.stories.tsx
  src/components/organisms/BYUHDeadlineTable/BYUHDeadlineTable.tsx
  src/components/organisms/BYUIDeadlineTable/BYUIDeadlineTable.stories.tsx
  src/components/organisms/BYUIDeadlineTable/BYUIDeadlineTable.tsx
  src/components/organisms/CostTable/CostTable.tsx
  src/components/organisms/EikenTable/EikenTable.tsx
  src/components/organisms/Header/Header.tsx
  src/components/organisms/IELTSTable/IELTSTable.tsx
  src/components/organisms/PTETable/PTETable.tsx
  src/components/organisms/SchoolTable/SchoolTable.tsx
  src/components/organisms/TOEFLTable/TOEFLTable.tsx
  src/components/organisms/TuitionBarChart/TuitionBarChart.tsx
  src/components/pages/IndexPage/IndexPage.tsx
  src/pages/about.mdx
  src/pages/index.tsx
  src/pages/schools/byu.mdx
  src/pages/schools/byuh.mdx
  src/pages/schools/byui.mdx
  src/pages/tips/apply.mdx
  src/pages/tips/career.mdx
  src/pages/tips/compare.mdx
  src/pages/tips/internship.mdx
  src/pages/tips/learn-english.mdx
  tsconfig.json
Due: yarn eslint, yarn prettier --check --loglevel warn .

feat: anchor link scroll H3
  src/components/molecules/SectionTitle/SectionTitle.tsx
  src/containers/H2.tsx
  src/containers/H3.tsx
  src/lib/mdx/mdx.constants.tsx
  src/pages/tips/career.mdx
  src/pages/tips/internship.mdx
Due: yarn eslint, yarn prettier --check --loglevel warn .

chore: add @next/bundle-analyzer
  next.config.js
  package.json
  yarn.lock
Due: yarn eslint, yarn prettier --check --loglevel warn .

perf: dynamic import CopiedDialog
  src/components/organisms/DynamicCopiedDialog/DynamicCopiedDialog.tsx
  src/components/organisms/DynamicCopiedDialog/index.ts
  src/containers/CopiedDialog.tsx
  src/pages/_app.tsx
Due: yarn eslint, yarn prettier --check --loglevel warn .

refactor: anchor link
  src/components/molecules/SectionTitle/SectionTitle.module.css
  src/components/molecules/SectionTitle/SectionTitle.tsx
  src/containers/H1.tsx
  src/containers/H2.tsx
  src/containers/Header.tsx
  src/containers/SectionTitle.tsx
  src/lib/mdx/mdx.constants.tsx
  src/lib/scrollIntoView/scrollIntoView.hook.tsx
  src/lib/useSmoothScroll/index.ts
  src/lib/useSmoothScroll/useSmoothScroll.hook.ts
  src/styles/globals.css
Due: yarn eslint, yarn prettier --check --loglevel warn ., yarn stylelint

feat: call algolia index API from middleware on the first request
  package.json
  src/lib/algolia/algolia.fixture.tsx
  src/lib/algolia/node/node.util.ts
  src/lib/env/env.util.spec.ts
  src/lib/env/env.util.ts
  src/lib/env/index.ts
  src/pages/_middleware.ts
  src/pages/api/algolia.ts
Due: yarn eslint, yarn prettier --check --loglevel warn .

Path conditions:
  yarn eslint: any of: **/*.{js,jsx,ts,tsx}
  yarn prettier --check --loglevel warn .: (any of: **/*.{js,jsx,ts,tsx}) or (any of: **/*.css)
  yarn stylelint: any of: **/*.css
