Repository mizozobu/gotobyu.com: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint, yarn stylelint, yarn prettier --check --loglevel warn .

refactor: use tailwind caption util
  src/components/atoms/TableCaption/TableCaption.module.css
  src/components/atoms/TableCaption/TableCaption.tsx
Due: yarn eslint, yarn stylelint, yarn prettier --check --loglevel warn .

style: autofix by prettier
  src/components/atoms/Tab/Tab.tsx
  src/components/molecules/PageCard/PageCard.tsx
  src/components/organisms/SchoolTab/SchoolTab.tsx
  src/features/misc/routes/index.tsx
Due: yarn eslint, yarn prettier --check --loglevel warn .

chore: use esm tailwind config
  tailwind.config.ts
Due: yarn eslint, yarn prettier --check --loglevel warn .

style: autofix by prettier
  src/components/organisms/SchoolTab/SchoolTab.tsx
  src/features/misc/routes/index.tsx
Due: yarn eslint, yarn prettier --check --loglevel warn .

test: update snapshots
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-1-chromium-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-1-chromium-mobile-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-1-firefox-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-404-1-chromium-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-404-1-chromium-mobile-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-404-1-firefox-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-500-1-chromium-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-500-1-chromium-mobile-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-500-1-firefox-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-about-1-chromium-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-about-1-chromium-mobile-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-about-1-firefox-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-schools-byu-1-chromium-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-schools-byu-1-chromium-mobile-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-schools-byu-1-firefox-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-schools-byuh-1-chromium-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-schools-byuh-1-chromium-mobile-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-schools-byuh-1-firefox-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-schools-byui-1-chromium-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-schools-byui-1-chromium-mobile-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-schools-byui-1-firefox-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-apply-1-chromium-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-apply-1-chromium-mobile-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-apply-1-firefox-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-career-1-chromium-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-career-1-chromium-mobile-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-career-1-firefox-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-compare-1-chromium-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-compare-1-chromium-mobile-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-compare-1-firefox-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-internship-1-chromium-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-internship-1-chromium-mobile-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-internship-1-firefox-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-learn-english-1-chromium-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-learn-english-1-chromium-mobile-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-learn-english-1-firefox-linux.png
Due: yarn prettier --check --loglevel warn .

revert: "chore: Update dependency webpack to ^5.78.0"
  package.json
  yarn.lock
Due: yarn prettier --check --loglevel warn .

test: fix lighthouse typing
  e2e/tests/lighthouse.spec.ts
  src/types/lighthouse/index.d.ts
Due: yarn eslint, yarn prettier --check --loglevel warn .

test: update snapshots
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-1-webkit-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-1-webkit-mobile-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-1-webkit-tablet-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-404-1-webkit-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-404-1-webkit-mobile-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-404-1-webkit-tablet-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-500-1-webkit-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-500-1-webkit-mobile-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-500-1-webkit-tablet-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-about-1-webkit-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-about-1-webkit-mobile-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-about-1-webkit-tablet-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-schools-byu-1-webkit-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-schools-byu-1-webkit-mobile-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-schools-byu-1-webkit-tablet-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-schools-byuh-1-webkit-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-schools-byuh-1-webkit-mobile-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-schools-byuh-1-webkit-tablet-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-schools-byui-1-webkit-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-schools-byui-1-webkit-mobile-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-schools-byui-1-webkit-tablet-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-apply-1-webkit-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-apply-1-webkit-mobile-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-apply-1-webkit-tablet-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-career-1-webkit-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-career-1-webkit-mobile-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-career-1-webkit-tablet-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-compare-1-webkit-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-compare-1-webkit-mobile-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-compare-1-webkit-tablet-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-internship-1-webkit-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-internship-1-webkit-mobile-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-internship-1-webkit-tablet-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-learn-english-1-webkit-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-learn-english-1-webkit-mobile-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-learn-english-1-webkit-tablet-linux.png
Due: yarn prettier --check --loglevel warn .

feat: update byu application deadlines
  src/data/application-deadline.ts
Due: yarn eslint, yarn prettier --check --loglevel warn .

test: update snapshots
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-apply-1-chromium-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-apply-1-chromium-mobile-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-apply-1-firefox-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-apply-1-webkit-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-apply-1-webkit-mobile-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-apply-1-webkit-tablet-linux.png
Due: yarn prettier --check --loglevel warn .

chore: update renovate config
  renovate.json
Due: yarn prettier --check --loglevel warn .

chore: migrate to prettier v3
  .lintstagedrc
  package.json
  src/components/atoms/RippleButton/RippleButton.module.css
  src/components/atoms/Strong/Strong.module.css
  src/styles/globals.css
Due: yarn stylelint, yarn prettier --check --loglevel warn .

test: update snapshots
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-1-chromium-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-404-1-chromium-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-500-1-chromium-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-about-1-chromium-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-schools-byu-1-chromium-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-schools-byuh-1-chromium-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-schools-byui-1-chromium-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-apply-1-chromium-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-career-1-chromium-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-compare-1-chromium-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-internship-1-chromium-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-learn-english-1-chromium-linux.png
Due: yarn prettier --check --loglevel warn .

chore: turn off stylelint media-query-no-invalid
  .stylelintrc
Due: yarn prettier --check --loglevel warn .

build: fix icon type
  src/types/icon.d.ts
Due: yarn eslint, yarn prettier --check --loglevel warn .

chore: yarn dedupelicate
  yarn.lock
Due: yarn prettier --check --loglevel warn .

build: fix typing for instant search
  src/features/index/utils/indexDocument.ts
Due: yarn eslint, yarn prettier --check --loglevel warn .

chore: update next
  package.json
  yarn.lock
Due: yarn prettier --check --loglevel warn .

build: fix icon type
  src/components/molecules/HeaderMobileMenuLink/HeaderMobileMenuLink.tsx
Due: yarn eslint, yarn prettier --check --loglevel warn .

test: fix jest types
  jest.config.ts
  jest.setup.ts
  src/hooks/useMediaMinWidth.spec.ts
Due: yarn eslint, yarn prettier --check --loglevel warn .

Path conditions:
  yarn eslint: any of: **/*.{js,jsx,ts,tsx}
  yarn stylelint: any of: **/*.css
  yarn prettier --check --loglevel warn .: any of: **/*
