Repository mizozobu/gotobyu.com: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint, yarn prettier --check --loglevel warn ., yarn stylelint

ci: fix workflows
  .github/actions/playwright/action.yaml
  .github/actions/prepare/action.yaml
  .github/workflows/update-snapshots.yaml
Due: none

ci: fix update-snapshots workflow
  .github/workflows/update-snapshots.yaml
Due: none

test: update snapshots
  e2e/tests/visual-regression-test/visual-regression.spec.ts-snapshots/-tips-career-1-chromium-linux.png
  e2e/tests/visual-regression-test/visual-regression.spec.ts-snapshots/-tips-career-1-chromium-mobile-linux.png
  e2e/tests/visual-regression-test/visual-regression.spec.ts-snapshots/-tips-career-1-firefox-linux.png
  e2e/tests/visual-regression-test/visual-regression.spec.ts-snapshots/-tips-compare-1-chromium-linux.png
  e2e/tests/visual-regression-test/visual-regression.spec.ts-snapshots/-tips-compare-1-chromium-mobile-linux.png
  e2e/tests/visual-regression-test/visual-regression.spec.ts-snapshots/-tips-compare-1-firefox-linux.png
  e2e/tests/visual-regression-test/visual-regression.spec.ts-snapshots/-tips-internship-1-chromium-linux.png
  e2e/tests/visual-regression-test/visual-regression.spec.ts-snapshots/-tips-internship-1-chromium-mobile-linux.png
  e2e/tests/visual-regression-test/visual-regression.spec.ts-snapshots/-tips-internship-1-firefox-linux.png
Due: none

chore: Update dependency prettier-plugin-tailwindcss to ^0.1.10
  package.json
  yarn.lock
Due: none

chore: Update dependency eslint-plugin-storybook to ^0.5.11
  package.json
  yarn.lock
Due: none

chore: Update dependency sinon to ^13.0.2
  package.json
  yarn.lock
Due: none

chore: Update dependency lint-staged to ^12.4.0
  package.json
  yarn.lock
Due: none

fix: fix unicode in canvas
  src/components/molecules/BarChart/BarChart.tsx
  src/components/molecules/PieChart/PieChart.tsx
Due: yarn eslint, yarn prettier --check --loglevel warn .

test: wait for fonts to be loaded
  e2e/fixtures/pages/_custom.page.ts
Due: yarn eslint, yarn prettier --check --loglevel warn .

chore: Update dependency react-instantsearch-dom to ^6.23.4
  package.json
  yarn.lock
Due: none

chore: Update eslint to ^5.20.0
  package.json
  yarn.lock
Due: none

chore: Update dependency @types/react to ^18.0.6
  package.json
  yarn.lock
Due: none

chore: Update dependency @types/react-dom to ^18.0.2
  package.json
  yarn.lock
Due: none

chore: Update dependency eslint to ^8.14.0
  package.json
  yarn.lock
Due: none

fix: prevent box-shadow from overflowing on firefox
  src/components/atoms/Strong/Strong.module.css
Due: yarn prettier --check --loglevel warn ., yarn stylelint

fix: show tooltip instead of data label fro tuition bar chart
  src/components/ecosystems/tips/career/IncomeBarChart/IncomeBarChart.tsx
  src/components/ecosystems/tips/compare/TuitionBarChart/TuitionBarChart.tsx
  src/components/ecosystems/tips/internship/InternSalaryPieChart/InternSalaryPieChart.tsx
  src/components/molecules/BarChart/BarChart.tsx
  src/components/molecules/PieChart/PieChart.tsx
  src/lib/media/index.ts
  src/lib/media/media.constants.ts
  src/lib/media/media.hook.ts
  src/lib/media/media.interface.ts
  src/lib/media/media.util.spec.ts
  src/lib/media/media.util.ts
Due: yarn eslint, yarn prettier --check --loglevel warn .

ci: fix nextjs build action
  .github/actions/build/action.yaml
  .github/actions/playwright/action.yaml
  .github/actions/prepare/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/e2e.yaml
Due: none

refactor: mv snapshots test dir
  e2e/tests/visual-regression.spec.ts
  e2e/tests/visual-regression.spec.ts-snapshots/-404-1-chromium-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/-404-1-chromium-mobile-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/-404-1-firefox-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/-500-1-chromium-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/-500-1-chromium-mobile-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/-500-1-firefox-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/-about-1-chromium-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/-about-1-chromium-mobile-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/-about-1-firefox-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/-index-1-chromium-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/-index-1-chromium-mobile-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/-index-1-firefox-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/-schools-byu-1-chromium-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/-schools-byu-1-chromium-mobile-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/-schools-byu-1-firefox-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/-schools-byuh-1-chromium-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/-schools-byuh-1-chromium-mobile-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/-schools-byuh-1-firefox-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/-schools-byui-1-chromium-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/-schools-byui-1-chromium-mobile-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/-schools-byui-1-firefox-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/-tips-apply-1-chromium-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/-tips-apply-1-chromium-mobile-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/-tips-apply-1-firefox-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/-tips-career-1-chromium-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/-tips-career-1-chromium-mobile-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/-tips-career-1-firefox-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/-tips-compare-1-chromium-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/-tips-compare-1-chromium-mobile-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/-tips-compare-1-firefox-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/-tips-internship-1-chromium-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/-tips-internship-1-chromium-mobile-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/-tips-internship-1-firefox-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/-tips-learn-english-1-chromium-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/-tips-learn-english-1-chromium-mobile-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/-tips-learn-english-1-firefox-linux.png
Due: yarn eslint, yarn prettier --check --loglevel warn .

test: rm extra logic to restore sticky header
  e2e/fixtures/pages/_custom.page.ts
Due: yarn eslint, yarn prettier --check --loglevel warn .

test: fix jest testEnvironment
  jest.config.mjs
Due: none

test: update snapshots
  e2e/tests/visual-regression.spec.ts-snapshots/-schools-byu-1-firefox-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/-schools-byuh-1-firefox-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/-schools-byui-1-firefox-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/-tips-apply-1-firefox-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/-tips-compare-1-chromium-mobile-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/-tips-internship-1-firefox-linux.png
Due: none

chore: Update dependency eslint-plugin-jest to ^26.1.5
  package.json
  yarn.lock
Due: none

Path conditions:
  yarn eslint: any of: **/*.{js,jsx,ts,tsx}
  yarn prettier --check --loglevel warn .: (any of: **/*.{js,jsx,ts,tsx}) or (any of: **/*.css)
  yarn stylelint: any of: **/*.css
