Repository mizozobu/gotobyu.com: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint, yarn prettier --check --loglevel warn ., yarn stylelint

refactor: income constants
  src/components/organisms/IncomeBarChart/IncomeBarChart.tsx
  src/components/organisms/InternSalaryPieChart/InternSalaryPieChart.tsx
  src/data/income.ts
Due: yarn eslint, yarn prettier --check --loglevel warn .

chore: Update dependency stylelint to ^14.5.2
  package.json
  yarn.lock
Due: none

chore: Update dependency @types/jest to ^27.4.1
  package.json
  yarn.lock
Due: none

chore: Update dependency stylelint to ^14.5.3
  package.json
  yarn.lock
Due: none

refactor: reogranize containers
  src/components/atoms/H3/H3.tsx
  src/components/atoms/H4/H4.module.css
  src/containers/tips/compare/CurrencySwitchControl.tsx
  src/containers/tips/compare/ExrateAnnotation.tsx
  src/containers/tips/compare/LDSSwitchControl.tsx
  src/pages/tips/compare.mdx
Due: yarn eslint, yarn prettier --check --loglevel warn ., yarn stylelint

chore: Update dependency next-sitemap to ^2.5.1
  package.json
  yarn.lock
Due: none

chore: Update dependency prettier-plugin-tailwindcss to ^0.1.8
  package.json
  yarn.lock
Due: none

chore: Update dependency postcss to ^8.4.7
  package.json
  yarn.lock
Due: none

chore: Update dependency eslint-plugin-react to ^7.29.0
  package.json
  yarn.lock
Due: none

chore: Update eslint
  package.json
  yarn.lock
Due: none

chore: Update actions/setup-node action to v3
  .github/workflows/ci.yaml
Due: none

chore: Update dependency eslint-plugin-react to ^7.29.2
  package.json
  yarn.lock
Due: none

refactor: mv pages to enviroments
  src/components/environments/ErrorPage/ErrorPage.stories.tsx
  src/components/environments/ErrorPage/ErrorPage.tsx
  src/components/environments/ErrorPage/index.ts
  src/components/environments/IndexPage/IndexPage.stories.tsx
  src/components/environments/IndexPage/IndexPage.tsx
  src/components/environments/IndexPage/index.ts
  src/pages/404.tsx
  src/pages/_error.tsx
  src/pages/index.tsx
Due: yarn eslint, yarn prettier --check --loglevel warn .

refactor: rename hooks
  src/containers/HookRegistry.tsx
  src/containers/SectionTitle.tsx
  src/lib/scrollIntoView/index.ts
  src/lib/useAnchorLink/index.ts
  src/lib/useAnchorLink/useAnchorLink.hook.ts
  src/lib/useSmoothScroll/index.ts
  src/lib/useSyncRouteHash/index.ts
  src/lib/useSyncRouteHash/useSyncRouteHash.hook.tsx
Due: yarn eslint, yarn prettier --check --loglevel warn .

fix: restore tree-shaken classes
  tailwind.config.js
Due: yarn eslint, yarn prettier --check --loglevel warn .

style: rm eslint warning
  src/lib/recoil/recoil.util.ts
Due: yarn eslint, yarn prettier --check --loglevel warn .

chore: Update dependency next-sitemap to ^2.5.2
  package.json
  yarn.lock
Due: none

chore: Update eslint to ^5.13.0
  package.json
  yarn.lock
Due: none

chore: Update dependency typescript to ^4.6.2
  package.json
  yarn.lock
Due: none

chore: Update dependency ts-node to ^10.6.0
  package.json
  yarn.lock
Due: none

chore: Update dependency @types/react-dom to ^17.0.12
  package.json
  yarn.lock
Due: none

chore: Update dependency next-sitemap to ^2.5.3
  package.json
  yarn.lock
Due: none

chore: Update actions/checkout action to v3
  .github/workflows/ci.yaml
Due: none

chore: Update dependency @heroicons/react to ^1.0.6
  package.json
  yarn.lock
Due: none

chore: Update dependency algoliasearch to ^4.12.2
  package.json
  yarn.lock
Due: none

chore: Update dependency @types/react-dom to ^17.0.13
  package.json
  yarn.lock
Due: none

chore: Update dependency next-sitemap to ^2.5.4
  package.json
  yarn.lock
Due: none

chore: Update dependency sharp to ^0.30.2
  package.json
  yarn.lock
Due: none

chore: Update dependency eslint-config-prettier to ^8.5.0
  package.json
  yarn.lock
Due: none

feat: handle algolia 403 error
  src/components/atoms/CustomStateResults/CustomStateResults.stories.tsx
  src/components/atoms/CustomStateResults/CustomStateResults.tsx
  src/components/atoms/CustomStateResults/index.tsx
  src/components/ecosystems/Header/Header.tsx
  src/components/ecosystems/SearchDialog/SearchDialog.tsx
  src/containers/Header.tsx
  src/lib/recoil/recoil.constants.ts
  src/states/algolia/algolia.atom.ts
  src/states/algolia/algolia.constants.ts
  src/states/algolia/algolia.interface.ts
  src/states/algolia/index.ts
Due: yarn eslint, yarn prettier --check --loglevel warn .

feat: chart label
  package.json
  src/components/ecosystems/IncomeBarChart/IncomeBarChart.tsx
  src/components/ecosystems/InternSalaryPieChart/InternSalaryPieChart.tsx
  src/components/ecosystems/TuitionBarChart/TuitionBarChart.tsx
  src/components/molecules/BarChart/BarChart.tsx
  src/components/molecules/PieChart/PieChart.tsx
  yarn.lock
Due: yarn eslint, yarn prettier --check --loglevel warn .

chore: Update dependency webpack to ^5.70.0
  package.json
  yarn.lock
Due: none

chore: Update dependency eslint-plugin-react to ^7.29.3
  package.json
  yarn.lock
Due: none

chore: Update dependency tsconfig-paths to ^3.13.0
  package.json
  yarn.lock
Due: none

Path conditions:
  yarn eslint: any of: **/*.{js,jsx,ts,tsx}
  yarn prettier --check --loglevel warn .: (any of: **/*.{js,jsx,ts,tsx}) or (any of: **/*.css)
  yarn stylelint: any of: **/*.css
