Repository mizozobu/gotobyu.com: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint, yarn prettier --check --loglevel warn ., yarn stylelint

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx}": [
    "yarn eslint",
    "yarn prettier --check --loglevel warn ."
  ],
  "**/*.css": [
    "yarn stylelint",
    "yarn prettier --check --loglevel warn ."
  ]
}

refactor: wrap next/link
  src/components/atoms/InternalLink/InternalLink.tsx
  src/components/atoms/Link/Link.spec.tsx
  src/components/atoms/Link/Link.stories.tsx
  src/components/atoms/Link/Link.tsx
  src/components/atoms/Link/index.ts
  src/components/atoms/SectionTitle/SectionTitle.tsx
  src/components/ecosystems/shared/Footer/Footer.tsx
  src/components/ecosystems/shared/Header/Header.tsx
  src/components/environments/index.tsx
  src/components/molecules/HeaderMenuLink/HeaderMenuLink.tsx
  src/components/molecules/HeaderMobileMenuLink/HeaderMobileMenuLink.tsx
  src/components/molecules/HitItem/HitItem.tsx
Due: yarn eslint, yarn prettier --check --loglevel warn .

test: lighthouse in playwright
  .github/workflows/e2e.yaml
  .github/workflows/lighthouse.yaml
  .gitignore
  .lighthouserc.js
  e2e/fixtures/pages/404.page.ts
  e2e/fixtures/pages/500.page.ts
  e2e/fixtures/pages/_custom.page.ts
  e2e/fixtures/pages/about.page.ts
  e2e/fixtures/pages/apply.page.ts
  e2e/fixtures/pages/byu.page.ts
  e2e/fixtures/pages/byuh.page.ts
  e2e/fixtures/pages/byui.page.ts
  e2e/fixtures/pages/career.page.ts
  e2e/fixtures/pages/compare.page.ts
  e2e/fixtures/pages/index.page.ts
  e2e/fixtures/pages/internship.page.ts
  e2e/fixtures/pages/learn-english.page.ts
  e2e/tests/lighthouse.spec.ts
  package.json
  src/types/lighthouse/index.d.ts
  tsconfig.base.json
  yarn.lock
Due: yarn eslint, yarn prettier --check --loglevel warn .

ci: fix lighthouse job dependencies and rm upload file
  .github/workflows/ci.yaml
  .github/workflows/lighthouse.yaml
Due: none

style: fix keyframe-selector-notation
  src/components/atoms/Type/Type.module.css
Due: yarn prettier --check --loglevel warn ., yarn stylelint

fix: update alphavantage API
  src/lib/forex/forex.interface.ts
  src/lib/forex/forex.util.ts
Due: yarn eslint, yarn prettier --check --loglevel warn .

build: fix type error
  src/lib/algolia/node/node.util.ts
Due: yarn eslint, yarn prettier --check --loglevel warn .

ci: increase timeout for update snapshot workflow
  .github/workflows/update-snapshots.yaml
Due: none

refactor: migrate to @heroicons/react v2
  src/components/atoms/ExternalLink/ExternalLink.tsx
  src/components/atoms/SectionTitle/SectionTitle.module.css
  src/components/ecosystems/shared/CopiedDialog/CopiedDialog.tsx
  src/components/ecosystems/shared/Footer/Footer.tsx
  src/components/ecosystems/shared/Header/Header.tsx
  src/components/ecosystems/shared/HeaderMobileMenuDialog/HeaderMobileMenuDialog.tsx
  src/components/ecosystems/shared/SearchDialog/SearchDialog.tsx
  src/components/molecules/HeaderMenuLink/HeaderMenuLink.stories.tsx
  src/components/molecules/HeaderMobileMenuLink/HeaderMobileMenuLink.stories.tsx
  src/components/molecules/HitItem/HitItem.tsx
  src/components/molecules/ImageLoader/ImageLoader.tsx
  src/components/molecules/PageCard/PageCard.stories.tsx
  src/components/organisms/HeaderMenuPopover/HeaderMenuPopover.stories.tsx
  src/components/organisms/HeaderMenuPopover/HeaderMenuPopover.tsx
  src/data/links.tsx
Due: yarn eslint, yarn prettier --check --loglevel warn ., yarn stylelint

ci: exclude lighthouse from snapshot job
  .github/workflows/update-snapshots.yaml
Due: none

test: update snapshots
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-compare-1-webkit-mobile-linux.png
Due: none

chore: playwright docker cli
  package.json
  src/bin/get-version.js
  src/bin/playwright.js
Due: yarn eslint, yarn prettier --check --loglevel warn .

ci: restore get-version
  src/bin/get-version.js
  src/bin/lib/get-version.js
  src/bin/playwright.js
Due: yarn eslint, yarn prettier --check --loglevel warn .

refactor: colorClass to style
  src/components/atoms/BgRotate/BgRotate.module.css
  src/components/atoms/BgRotate/BgRotate.spec.tsx
  src/components/atoms/BgRotate/BgRotate.stories.tsx
  src/components/atoms/BgRotate/BgRotate.tsx
  src/components/atoms/SectionTitle/SectionTitle.spec.tsx
  src/components/environments/index.tsx
  src/components/environments/schools/byu.mdx
  src/components/environments/schools/byuh.mdx
  src/components/environments/schools/byui.mdx
  src/components/molecules/BgRotateCard/BgRotateCard.spec.tsx
  src/components/molecules/BgRotateCard/BgRotateCard.stories.tsx
  src/components/molecules/BgRotateCard/BgRotateCard.tsx
  src/components/molecules/HeaderMenuLink/HeaderMenuLink.spec.tsx
  src/components/molecules/HeaderMobileMenuLink/HeaderMobileMenuLink.spec.tsx
  src/components/molecules/HitItem/HitItem.spec.tsx
  src/components/molecules/PhotoViewer/PhotoViewer.spec.tsx
  src/components/molecules/PhotoViewer/PhotoViewer.stories.tsx
  src/components/molecules/PhotoViewer/PhotoViewer.tsx
Due: yarn eslint, yarn prettier --check --loglevel warn ., yarn stylelint

chore: add /out to ignores
  .eslintignore
  .prettierignore
  .stylelintignore
Due: none

refactor: global Style type
  src/components/atoms/BgRotate/BgRotate.tsx
  src/types/style.d.ts
Due: yarn eslint, yarn prettier --check --loglevel warn .

refactor: pass css variables as props.style
  src/components/atoms/RippleButton/RippleButton.module.css
  src/components/atoms/RippleButton/RippleButton.spec.tsx
  src/components/atoms/RippleButton/RippleButton.stories.tsx
  src/components/atoms/RippleButton/RippleButton.tsx
  src/components/atoms/Table/Table.spec.tsx
  src/components/atoms/Table/Table.stories.tsx
  src/components/atoms/Table/Table.tsx
  src/components/atoms/Type/Type.module.css
  src/components/atoms/Type/Type.spec.tsx
  src/components/atoms/Type/Type.stories.tsx
  src/components/atoms/Type/Type.tsx
  src/components/ecosystems/shared/Footer/Footer.tsx
  src/components/environments/index.tsx
Due: yarn eslint, yarn prettier --check --loglevel warn ., yarn stylelint

style: fix lint error
  src/components/atoms/FacebookIcon/FacebookIcon.tsx
Due: yarn eslint, yarn prettier --check --loglevel warn .

ci: partial snapshot update
  .github/workflows/update-snapshots.yaml
Due: none

ci: add backtick around comment body
  .github/workflows/update-snapshots.yaml
Due: none

ci: use context instread of expression
  .github/workflows/update-snapshots.yaml
Due: none

ci: get comment body from context.payload
  .github/workflows/update-snapshots.yaml
Due: none
