Repository mizozobu/gotobyu.com: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint, yarn prettier --check --loglevel warn ., yarn stylelint

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx}": [
    "yarn eslint",
    "yarn prettier --check --loglevel warn ."
  ],
  "**/*.css": [
    "yarn stylelint",
    "yarn prettier --check --loglevel warn ."
  ]
}

ci: pass comment body through environment variable
  .github/workflows/update-snapshots.yaml
Due: none

ci: add debug script
  .github/workflows/update-snapshots.yaml
Due: none

ci: fix newline char
  .github/workflows/update-snapshots.yaml
Due: none

ci: rm debug script
  .github/workflows/update-snapshots.yaml
Due: none

test: update snapshots
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-schools-byui-1-webkit-linux.png
Due: none

ci: workflow level concurrency
  .github/workflows/ci.yaml
  .github/workflows/setup.yaml
Due: none

build: algolia in postbuild
  .env.development
  .env.test
  next.config.js
  package.json
  src/lib/algolia/node/node.util.ts
Due: yarn eslint, yarn prettier --check --loglevel warn .

build: algolia in vercel
  package.json
Due: none

test: update snapshots
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-schools-byui-1-firefox-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-compare-1-webkit-mobile-linux.png
Due: none

chore: turn off @typescript-eslint/no-misused-promises
  .eslintrc.js
Due: yarn eslint, yarn prettier --check --loglevel warn .

build: add export npm script
  package.json
Due: none

ci: fix update snapshot job
  .github/workflows/update-snapshots.yaml
Due: none

fix: styles
  src/components/atoms/H1/H1.module.css
  src/components/atoms/H2/H2.module.css
  src/components/atoms/H3/H3.module.css
  src/components/atoms/H4/H4.module.css
  src/features/misc/routes/index.tsx
Due: yarn eslint, yarn prettier --check --loglevel warn ., yarn stylelint

test: update snapshots
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-1-chromium-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-1-chromium-mobile-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-1-firefox-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-1-webkit-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-1-webkit-mobile-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-1-webkit-tablet-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-career-1-chromium-mobile-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-career-1-webkit-mobile-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-career-1-webkit-tablet-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-compare-1-chromium-mobile-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-compare-1-webkit-mobile-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-compare-1-webkit-tablet-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-internship-1-chromium-mobile-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-internship-1-webkit-mobile-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-internship-1-webkit-tablet-linux.png
Due: none

test: update snapshots
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-compare-1-webkit-mobile-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-compare-1-webkit-tablet-linux.png
Due: none

chore: update eslint config
  .eslintrc.js
Due: yarn eslint, yarn prettier --check --loglevel warn .

test: update snapshots
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-schools-byui-1-webkit-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-internship-1-firefox-linux.png
Due: none

refactor: migrate next/link
  src/components/atoms/Link/Link.tsx
Due: yarn eslint, yarn prettier --check --loglevel warn .

refactor: migrate next/image
  src/components/atoms/NextImage/NextImage.tsx
  src/components/molecules/PhotoViewer/PhotoViewer.stories.tsx
  src/components/molecules/PhotoViewer/PhotoViewer.tsx
  src/components/molecules/SchoolTh/SchoolTh.tsx
  src/components/organisms/SchoolTab/SchoolTab.tsx
  src/data/links.tsx
  src/features/byu/routes/byu.mdx
  src/features/byuh/routes/byuh.mdx
  src/features/byui/routes/byui.mdx
  src/features/misc/routes/index.tsx
Due: yarn eslint, yarn prettier --check --loglevel warn .

fix: story image path
  src/components/atoms/NextImage/NextImage.spec.tsx
  src/components/atoms/NextImage/NextImage.stories.tsx
Due: yarn eslint, yarn prettier --check --loglevel warn .

test: update snapshots
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-schools-byu-1-chromium-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-schools-byu-1-chromium-mobile-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-schools-byu-1-firefox-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-schools-byu-1-webkit-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-schools-byu-1-webkit-mobile-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-schools-byu-1-webkit-tablet-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-schools-byuh-1-chromium-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-schools-byuh-1-chromium-mobile-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-schools-byuh-1-firefox-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-schools-byuh-1-webkit-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-schools-byuh-1-webkit-mobile-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-schools-byuh-1-webkit-tablet-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-schools-byui-1-chromium-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-schools-byui-1-chromium-mobile-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-schools-byui-1-firefox-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-schools-byui-1-webkit-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-schools-byui-1-webkit-mobile-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-schools-byui-1-webkit-tablet-linux.png
Due: none

build: run yarn-deduplicate
  yarn.lock
Due: none
