Repository mizozobu/gotobyu.com: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint, yarn prettier --check --loglevel warn ., yarn stylelint

refactor: rm dupelicated createPortal for Modal
  src/components/molecules/Modal/Modal.tsx
Due: yarn eslint, yarn prettier --check --loglevel warn .

ci: include mdx files in cache key
  .github/actions/build/action.yaml
Due: none

fix: fix index page overflow scroll spacing using grid layout
  src/features/misc/routes/index.tsx
Due: yarn eslint, yarn prettier --check --loglevel warn .

perf: fix lighthouse "Tap targets are not sized appropriately"
  src/features/apply/routes/apply.mdx
  src/features/compare/routes/compare.mdx
Due: none

test: update snapshots
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-apply-1-chromium-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-apply-1-chromium-mobile-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-apply-1-firefox-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-apply-1-webkit-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-apply-1-webkit-mobile-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-apply-1-webkit-tablet-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-compare-1-chromium-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-compare-1-chromium-mobile-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-compare-1-firefox-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-compare-1-webkit-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-compare-1-webkit-mobile-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-compare-1-webkit-tablet-linux.png
Due: none

ci: migrate set-output to $GITHUB_OUTPUT
  .github/actions/analyze/action.yaml
  .github/actions/prepare-playwright/action.yaml
  .github/actions/prepare/action.yaml
  .github/workflows/update-snapshots.yaml
Due: none

ci: fix nextjs-bundle-analysis
  .github/actions/analyze/action.yaml
Due: none

test: update snapshots
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-1-webkit-tablet-linux.png
Due: none

fix: crossOrigin value
  src/pages/_document.tsx
Due: yarn eslint, yarn prettier --check --loglevel warn .

test: e2e algolia
  .env.test
  e2e/fixtures/pages/_custom.page.ts
  e2e/tests/full-text-search.spec.ts
  src/components/molecules/Modal/Modal.tsx
  src/components/organisms/Header/Header.tsx
  src/features/search/components/CustomInfiniteHits/CustomInfiniteHits.tsx
  src/features/search/components/HitItem/HitItem.spec.tsx
  src/features/search/components/HitItem/HitItem.tsx
  src/features/search/components/SearchDialog/SearchDialog.tsx
Due: yarn eslint, yarn prettier --check --loglevel warn .

ci: run e2e and vrt
  .github/workflows/ci.yaml
  .github/workflows/e2e.yaml
Due: none

style: lint autofix
  src/lib/seo.tsx
Due: yarn eslint, yarn prettier --check --loglevel warn .

test: update snapshots
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-1-firefox-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-404-1-firefox-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-about-1-firefox-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-schools-byu-1-firefox-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-schools-byuh-1-firefox-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-schools-byui-1-firefox-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-apply-1-firefox-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-career-1-firefox-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-compare-1-firefox-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-internship-1-firefox-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-tips-learn-english-1-firefox-linux.png
Due: none

test: ut for Type and TypingEffect using fake timer
  src/components/atoms/Type/Type.spec.tsx
  src/components/atoms/Type/Type.stories.tsx
  src/components/atoms/Type/Type.tsx
  src/components/molecules/TypingEffect/TypingEffect.spec.tsx
  src/components/molecules/TypingEffect/TypingEffect.stories.tsx
Due: yarn eslint, yarn prettier --check --loglevel warn .

test: update snapshots
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-1-chromium-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-1-chromium-mobile-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-1-firefox-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-1-webkit-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-1-webkit-mobile-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-1-webkit-tablet-linux.png
Due: none

test: fix vrt for /
  e2e/fixtures/pages/index.page.ts
Due: yarn eslint, yarn prettier --check --loglevel warn .

test: update snapshots
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-1-webkit-linux.png
Due: none

test: update snapshots
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-1-chromium-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-1-chromium-mobile-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-1-firefox-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-1-webkit-mobile-linux.png
  e2e/tests/visual-regression.spec.ts-snapshots/visual-regression-test-1-webkit-tablet-linux.png
Due: none

fix: fix icon type
  src/types/icon.d.ts
Due: yarn eslint, yarn prettier --check --loglevel warn .

test: fix matchMedia mock
  src/hooks/useMediaMinWidth.spec.ts
Due: yarn eslint, yarn prettier --check --loglevel warn .

chore: update lintstaged config
  .lintstagedrc
Due: none

fix: use type for Modal props
  src/components/molecules/Modal/Modal.tsx
Due: yarn eslint, yarn prettier --check --loglevel warn .

style: migrate stylelint to v15.3.0
  package.json
  src/components/organisms/Header/Header.module.css
  yarn.lock
Due: yarn prettier --check --loglevel warn ., yarn stylelint

chore: use esm tailwind config
  tailwind.config.ts
Due: yarn eslint, yarn prettier --check --loglevel warn .

style: autofix by prettier
  src/components/atoms/Tab/Tab.tsx
  src/components/molecules/PageCard/PageCard.tsx
  src/components/organisms/SchoolTab/SchoolTab.tsx
  src/features/misc/routes/index.tsx
Due: yarn eslint, yarn prettier --check --loglevel warn .

Path conditions:
  yarn eslint: any of: **/*.{js,jsx,ts,tsx}
  yarn prettier --check --loglevel warn .: (any of: **/*.{js,jsx,ts,tsx}) or (any of: **/*.css)
  yarn stylelint: any of: **/*.css
