Repository mizozobu/gotobyu.com: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint, yarn prettier --check --loglevel warn ., yarn stylelint

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx}": [
    "yarn eslint",
    "yarn prettier --check --loglevel warn ."
  ],
  "**/*.css": [
    "yarn stylelint",
    "yarn prettier --check --loglevel warn ."
  ]
}

chore: Update dependency tailwindcss to ^3.0.8
  package.json
  yarn.lock
Due: none

chore: Update dependency autoprefixer to ^10.4.1
  package.json
  yarn.lock
Due: none

chore: Update dependency @types/jest to ^27.4.0
  package.json
  yarn.lock
Due: none

chore: Update dependency eslint-plugin-jest to ^25.3.3
  package.json
  yarn.lock
Due: none

chore: Update dependency eslint to ^8.6.0
  package.json
  yarn.lock
Due: none

chore: Update dependency eslint-plugin-jest to ^25.3.4
  package.json
  yarn.lock
Due: none

refactor: migrate to tailwindcss v3
  .env
  .stylelintrc
  next-env.d.ts
  package.json
  src/components/atoms/BgRotate/BgRotate.tsx
  src/components/atoms/UlCol/UlCol.module.css
  src/components/atoms/UlCol/UlCol.tsx
  src/components/molecules/PageCard/PageCard.tsx
  src/components/molecules/PhotoViewer/PhotoViewer.tsx
  src/components/molecules/SchoolCard/SchoolCard.tsx
  src/components/molecules/SwitchControl/SwitchControl.tsx
  src/components/organisms/CopiedDialog/CopiedDialog.tsx
  src/components/organisms/Header/Header.tsx
  src/styles/globals.css
  tailwind.config.js
  yarn.lock
Due: yarn eslint, yarn prettier --check --loglevel warn ., yarn stylelint

feat: click overlay to close mobile header menu
  src/components/organisms/Header/Header.tsx
Due: yarn eslint, yarn prettier --check --loglevel warn .

chore: Update dependency lint-staged to ^12.1.5
  package.json
  yarn.lock
Due: none

chore: Update dependency eslint-plugin-import to ^2.25.4
  package.json
  yarn.lock
Due: none

chore: Update dependency tailwindcss to ^3.0.9
  package.json
  yarn.lock
Due: none

chore: Update eslint to ^5.9.0
  package.json
  yarn.lock
Due: none

chore: Update dependency jest to ^27.4.6
  package.json
  yarn.lock
Due: none

chore: add debugger config
  .vscode/launch.json
Due: none

chore: Update dependency tailwindcss to ^3.0.11
  package.json
  yarn.lock
Due: none

docs: fix typo in byu page
  src/pages/schools/byu.mdx
Due: none

docs: fix typo in byuh page
  src/pages/tips/learn-english.mdx
Due: none

docs: add byuh eiken total
  src/components/organisms/EikenTable/EikenTable.tsx
Due: yarn eslint, yarn prettier --check --loglevel warn .

docs: update byui PTE score
  src/components/organisms/PTETable/PTETable.tsx
Due: yarn eslint, yarn prettier --check --loglevel warn .

refactor: mv english requirement data in /data
  src/components/molecules/EnglishRequirementTable/EnglishRequirementTable.tsx
  src/components/organisms/EikenTable/EikenTable.tsx
  src/components/organisms/IELTSTable/IELTSTable.tsx
  src/components/organisms/PTETable/PTETable.tsx
  src/components/organisms/TOEFLTable/TOEFLTable.tsx
  src/data/english-requirement.ts
  src/data/index.ts
Due: yarn eslint, yarn prettier --check --loglevel warn .

fix: fix data import in english test table stories
  src/components/organisms/EikenTable/EikenTable.stories.tsx
  src/components/organisms/IELTSTable/IELTSTable.stories.tsx
  src/components/organisms/PTETable/PTETable.stories.tsx
  src/components/organisms/TOEFLTable/TOEFLTable.stories.tsx
Due: yarn eslint, yarn prettier --check --loglevel warn .

chore: Update dependency jest to ^27.4.7
  package.json
  yarn.lock
Due: none

fix: photo viewer aspect
  src/components/molecules/PhotoViewer/PhotoViewer.tsx
Due: yarn eslint, yarn prettier --check --loglevel warn .

chore: Update dependency lint-staged to ^12.1.6
  package.json
  yarn.lock
Due: none

chore: Update dependency autoprefixer to ^10.4.2
  package.json
  yarn.lock
Due: none

chore: Update dependency lint-staged to ^12.1.7
  package.json
  yarn.lock
Due: none

chore: Update dependency tailwindcss to ^3.0.12
  package.json
  yarn.lock
Due: none

fix: forex rate getStaticProps
  src/lib/recoil/recoil.util.ts
  src/pages/_app.tsx
Due: yarn eslint, yarn prettier --check --loglevel warn .

chore: Update dependency @commitlint/cli to ^16.0.2
  package.json
  yarn.lock
Due: none

refactor: mv aplilcation deadline data
  src/components/molecules/DeadlineTable/DeadlineTable.tsx
  src/components/organisms/BYUDeadlineTable/BYUDeadlineTable.stories.tsx
  src/components/organisms/BYUDeadlineTable/BYUDeadlineTable.tsx
  src/components/organisms/BYUHDeadlineTable/BYUHDeadlineTable.stories.tsx
  src/components/organisms/BYUHDeadlineTable/BYUHDeadlineTable.tsx
  src/components/organisms/BYUIDeadlineTable/BYUIDeadlineTable.stories.tsx
  src/components/organisms/BYUIDeadlineTable/BYUIDeadlineTable.tsx
  src/data/application-deadline.ts
  src/data/index.ts
Due: yarn eslint, yarn prettier --check --loglevel warn .

refactor: master data
  src/components/molecules/EnglishRequirementTable/EnglishRequirementTable.tsx
  src/components/organisms/CostTable/CostTable.tsx
  src/components/organisms/EikenTable/EikenTable.tsx
  src/components/organisms/Header/Header.tsx
  src/components/organisms/IELTSTable/IELTSTable.tsx
  src/components/organisms/PTETable/PTETable.tsx
  src/components/organisms/SchoolTable/SchoolTable.tsx
  src/components/organisms/TOEFLTable/TOEFLTable.tsx
  src/components/organisms/TuitionBarChart/TuitionBarChart.tsx
  src/components/pages/IndexPage/IndexPage.tsx
  src/data/cost-of-attendance.ts
  src/data/cost.ts
  src/data/english-requirement.ts
  src/data/index.ts
  src/data/links.tsx
  src/data/school.ts
  src/pages/about.mdx
  src/pages/index.tsx
  src/pages/schools/byu.mdx
  src/pages/schools/byuh.mdx
  src/pages/schools/byui.mdx
  src/pages/tips/apply.mdx
  src/pages/tips/career.mdx
  src/pages/tips/compare.mdx
  src/pages/tips/internship.mdx
  src/pages/tips/learn-english.mdx
Due: yarn eslint, yarn prettier --check --loglevel warn .

fix: cost data fx rate
  src/components/organisms/IncomeBarChart/IncomeBarChart.tsx
  src/components/organisms/InternSalaryPieChart/InternSalaryPieChart.tsx
  src/components/organisms/TuitionBarChart/TuitionBarChart.tsx
  src/data/cost-of-attendance.ts
Due: yarn eslint, yarn prettier --check --loglevel warn .

refactor: mv container components
  .eslintrc.js
  .storybook/main.js
  src/components/atoms/ScrollIntoView/index.ts
  src/components/molecules/SectionTitle/index.ts
  src/components/organisms/CopiedDialog/index.ts
  src/components/organisms/CostTable/index.ts
  src/components/organisms/Header/index.ts
  src/components/organisms/TuitionBarChart/index.ts
  src/containers/.eslintrc.js
  src/containers/CopiedDialog.tsx
  src/containers/Header.tsx
  src/containers/ScrollIntoView.tsx
  src/containers/SectionTitle.tsx
  src/containers/tips/compare/CostTable.tsx
  src/containers/tips/compare/TuitionBarChart.tsx
  src/lib/mdx/MDX.tsx
  src/pages/_app.tsx
  src/pages/tips/compare.mdx
  tsconfig.json
Due: yarn eslint, yarn prettier --check --loglevel warn .

docs: use $ ¥ sign
  src/components/organisms/CostTable/CostTable.tsx
  src/components/organisms/TuitionBarChart/TuitionBarChart.tsx
Due: yarn eslint, yarn prettier --check --loglevel warn .

refactor: rename constants to UPPER_SNAKE_CASE
  src/components/molecules/PieChart/PieChart.tsx
  src/containers/Header.tsx
  src/lib/ScreenSize/ScreenSize.constants.ts
  src/lib/ScreenSize/ScreenSize.hook.ts
  src/lib/ScreenSize/ScreenSize.interface.ts
  src/lib/ScreenSize/ScreenSize.util.ts
  src/lib/ScrollDirection/ScrollDirection.constants.ts
  src/lib/ScrollDirection/ScrollDirection.hook.ts
  src/lib/ScrollDirection/ScrollDirection.interface.ts
  src/lib/recoil/recoil.constants.ts
  src/lib/recoil/recoil.interface.ts
  src/lib/recoil/recoil.util.ts
  src/pages/tips/compare.mdx
  src/states/forex/forex.atom.ts
  src/states/forex/forex.constants.ts
  src/states/url/url.atom.ts
  src/states/url/url.constants.ts
Due: yarn eslint, yarn prettier --check --loglevel warn .

refactor: rename files
  src/components/molecules/PieChart/PieChart.tsx
  src/containers/Header.tsx
  src/lib/ScreenSize/index.ts
  src/lib/ScrollDirection/index.ts
  src/lib/mdx/index.ts
  src/lib/mdx/mdx.constants.tsx
  src/lib/screen-size/index.ts
  src/lib/screen-size/screen-size.constants.ts
  src/lib/screen-size/screen-size.hook.ts
  src/lib/screen-size/screen-size.interface.ts
  src/lib/screen-size/screen-size.util.ts
  src/lib/scroll-direction/index.ts
  src/lib/scroll-direction/scroll-direction.constants.ts
  src/lib/scroll-direction/scroll-direction.hook.ts
  src/lib/scroll-direction/scroll-direction.interface.ts
Due: yarn eslint, yarn prettier --check --loglevel warn .

style: rm eslint disable for @next/next/no-title-in-document-head
  src/pages/_app.tsx
Due: yarn eslint, yarn prettier --check --loglevel warn .

refactor: mv non-UI components to hooks
  src/containers/HookRegistry.tsx
  src/lib/recoil/index.ts
  src/lib/recoil/recoil.hook.ts
  src/lib/recoil/recoil.util.ts
  src/lib/scroll-into-view/index.ts
  src/lib/scroll-into-view/scroll-into-view.hook.tsx
  src/pages/_app.tsx
Due: yarn eslint, yarn prettier --check --loglevel warn .
