Repository mizozobu/gotobyu.com: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint, yarn prettier --check --loglevel warn ., yarn stylelint

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx}": [
    "yarn eslint",
    "yarn prettier --check --loglevel warn ."
  ],
  "**/*.css": [
    "yarn stylelint",
    "yarn prettier --check --loglevel warn ."
  ]
}

feat: @l/round
  src/components/atoms/Digit/Digit.tsx
  src/components/ecosystems/IncomeBarChart/IncomeBarChart.tsx
  src/components/ecosystems/InternSalaryPieChart/InternSalaryPieChart.tsx
  src/components/ecosystems/TuitionBarChart/TuitionBarChart.tsx
  src/lib/round/index.ts
  src/lib/round/round.util.spec.ts
  src/lib/round/round.util.ts
Due: yarn eslint, yarn prettier --check --loglevel warn .

feat: remove legends and imprv labels
  src/components/ecosystems/InternSalaryPieChart/InternSalaryPieChart.tsx
  src/components/molecules/BarChart/BarChart.tsx
  src/components/molecules/PieChart/PieChart.tsx
Due: yarn eslint, yarn prettier --check --loglevel warn .

fix: next/image in storybook with blurDataURL
  .storybook/preview.js
Due: yarn eslint, yarn prettier --check --loglevel warn .

feat: use next/router in storybook
  .storybook/main.js
  .storybook/preview.js
  package.json
  yarn.lock
Due: yarn eslint, yarn prettier --check --loglevel warn .

chore: Update dependency lint-staged to ^12.3.5
  package.json
  yarn.lock
Due: none

refactor: css variable for header height
  src/styles/globals.css
Due: yarn prettier --check --loglevel warn ., yarn stylelint

refactor: mv some components to organisms
  src/components/ecosystems/shared/SearchDialog/SearchDialog.tsx
  src/components/environments/tips/compare.mdx
  src/components/organisms/CurrencySwitchControl/CurrencySwitchControl.container.tsx
  src/components/organisms/CurrencySwitchControl/index.ts
  src/components/organisms/CustomInfiniteHits/CustomInfiniteHits.module.css
  src/components/organisms/CustomInfiniteHits/CustomInfiniteHits.stories.tsx
  src/components/organisms/CustomInfiniteHits/CustomInfiniteHits.tsx
  src/components/organisms/CustomInfiniteHits/index.ts
  src/components/organisms/CustomPoweredBy/CustomPoweredBy.module.css
  src/components/organisms/CustomPoweredBy/CustomPoweredBy.stories.tsx
  src/components/organisms/CustomPoweredBy/CustomPoweredBy.tsx
  src/components/organisms/CustomPoweredBy/index.tsx
  src/components/organisms/CustomSearchBox/CustomSearchBox.stories.tsx
  src/components/organisms/CustomSearchBox/CustomSearchBox.tsx
  src/components/organisms/CustomSearchBox/index.tsx
  src/components/organisms/CustomStateResults/CustomStateResults.stories.tsx
  src/components/organisms/CustomStateResults/CustomStateResults.tsx
  src/components/organisms/CustomStateResults/index.tsx
  src/components/organisms/CustomStats/CustomStats.stories.tsx
  src/components/organisms/CustomStats/CustomStats.tsx
  src/components/organisms/CustomStats/index.tsx
  src/components/organisms/ExrateAnnotation/ExrateAnnotation.container.tsx
  src/components/organisms/ExrateAnnotation/index.ts
  src/components/organisms/Heading/Heading.container.tsx
  src/components/organisms/Heading/index.ts
  src/components/organisms/LDSSwitchControl/LDSSwitchControl.container.tsx
  src/components/organisms/LDSSwitchControl/index.ts
  src/components/organisms/SectionTitle/SectionTitle.container.tsx
  src/components/organisms/SectionTitle/index.ts
  src/lib/mdx/mdx.constants.tsx
Due: yarn eslint, yarn prettier --check --loglevel warn ., yarn stylelint

chore: Update dependency ts-node to ^10.7.0
  package.json
  yarn.lock
Due: none

refactor: rm useScreenSize
  src/components/molecules/BarChart/BarChart.tsx
  src/components/molecules/PieChart/PieChart.tsx
  src/lib/algolia/algolia.constants.ts
  src/lib/screenSize/index.ts
  src/lib/screenSize/screenSize.constants.ts
  src/lib/screenSize/screenSize.hook.ts
  src/lib/screenSize/screenSize.interface.ts
  src/lib/screenSize/screenSize.util.ts
Due: yarn eslint, yarn prettier --check --loglevel warn .

fix: deloy header loading animation end
  src/components/ecosystems/shared/Header/Header.container.tsx
Due: yarn eslint, yarn prettier --check --loglevel warn .

docs: imprv JSDoc for container component
  src/components/ecosystems/shared/CopiedDialog/CopiedDialog.container.tsx
  src/components/ecosystems/shared/Header/Header.container.tsx
  src/components/ecosystems/tips/compare/CostTable/CostTable.container.tsx
  src/components/ecosystems/tips/compare/TuitionBarChart/TuitionBarChart.container.tsx
  src/components/organisms/SectionTitle/SectionTitle.container.tsx
Due: yarn eslint, yarn prettier --check --loglevel warn .

refactor: rm usePrevious
  src/lib/usePrevious/index.ts
  src/lib/usePrevious/usePrevious.hook.ts
Due: yarn eslint, yarn prettier --check --loglevel warn .

chore: Update dependency postcss to ^8.4.8
  package.json
  yarn.lock
Due: none

chore: Update dependency next-sitemap to ^2.5.7
  package.json
  yarn.lock
Due: none

chore: Update eslint to ^5.14.0
  package.json
  yarn.lock
Due: none

feat: cache serverless function response
  src/pages/_middleware.ts
  src/pages/api/algolia.ts
Due: yarn eslint, yarn prettier --check --loglevel warn .

fix: only index from cli
  src/pages/api/algolia.ts
  src/pages/tips/compare.tsx
Due: yarn eslint, yarn prettier --check --loglevel warn .

chore: Update dependency unified to ^10.1.2
  package.json
  yarn.lock
Due: none

chore: Update dependency axios to ^0.26.1
  package.json
  yarn.lock
Due: none

refactor: rm env var ALGOLIA_BUILD_INDEX
  .env.development
  .env.test
  package.json
  src/lib/algolia/node/node.util.ts
Due: yarn eslint, yarn prettier --check --loglevel warn .

chore: run yarn-deduplicate
  yarn.lock
Due: none

refactor: split components in Header
  src/components/ecosystems/shared/Header/Header.tsx
  src/components/ecosystems/shared/MobileMenuDialog/MobileMenuDialog.stories.tsx
  src/components/ecosystems/shared/MobileMenuDialog/MobileMenuDialog.tsx
  src/components/ecosystems/shared/MobileMenuDialog/index.ts
  src/components/ecosystems/shared/SearchDialog/SearchDialog.tsx
  src/components/molecules/HeaderMenuLink/HeaderMenuLink.stories.tsx
  src/components/molecules/HeaderMenuLink/HeaderMenuLink.tsx
  src/components/molecules/HeaderMenuLink/index.ts
  src/components/molecules/HeaderMobileMenuLink/HeaderMobileMenuLink.stories.tsx
  src/components/molecules/HeaderMobileMenuLink/HeaderMobileMenuLink.tsx
  src/components/molecules/HeaderMobileMenuLink/index.ts
  src/components/molecules/Modal/Modal.stories.tsx
  src/components/molecules/Modal/Modal.tsx
  src/components/molecules/Modal/index.ts
  src/components/organisms/HeaderMenuPopover/HeaderMenuPopover.stories.tsx
  src/components/organisms/HeaderMenuPopover/HeaderMenuPopover.tsx
  src/components/organisms/HeaderMenuPopover/index.ts
Due: yarn eslint, yarn prettier --check --loglevel warn .

chore: Update dependency @types/react to ^17.0.40
  package.json
  yarn.lock
Due: none

refactor: mv dynamic to organisms
  src/components/dynamics/DynamicCopiedDialog/DynamicCopiedDialog.tsx
  src/components/dynamics/DynamicCopiedDialog/index.ts
  src/components/dynamics/DynamicSearchDialog/DynamicSearchDialog.tsx
  src/components/dynamics/DynamicSearchDialog/index.ts
  src/components/ecosystems/shared/Header/Header.tsx
  src/components/ecosystems/shared/HeaderMobileMenuDialog/HeaderMobileMenuDialog.stories.tsx
  src/components/ecosystems/shared/HeaderMobileMenuDialog/HeaderMobileMenuDialog.tsx
  src/components/ecosystems/shared/HeaderMobileMenuDialog/index.ts
  src/components/ecosystems/shared/MobileMenuDialog/MobileMenuDialog.stories.tsx
  src/components/ecosystems/shared/MobileMenuDialog/index.ts
  src/components/ecosystems/tips/career/IncomeBarChart/IncomeBarChart.tsx
  src/components/ecosystems/tips/compare/TuitionBarChart/TuitionBarChart.tsx
  src/components/ecosystems/tips/internship/InternSalaryPieChart/InternSalaryPieChart.tsx
  src/components/environments/schools/byu.mdx
  src/components/environments/schools/byuh.mdx
  src/components/environments/schools/byui.mdx
  src/components/organisms/DynamicBarChart/DynamicBarChart.tsx
  src/components/organisms/DynamicBarChart/index.ts
  src/components/organisms/DynamicPhotoViewer/DynamicPhotoViewer.tsx
  src/components/organisms/DynamicPhotoViewer/index.ts
  src/components/organisms/DynamicPieChart/DynamicPieChart.tsx
  src/components/organisms/DynamicPieChart/index.ts
  src/lib/mdx/mdx.constants.tsx
Due: yarn eslint, yarn prettier --check --loglevel warn .

docs: update README.md
  README.md
Due: none

chore: Update dependency stylelint-config-css-modules to v4
  package.json
  yarn.lock
Due: none

chore: Update dependency eslint to ^8.11.0
  package.json
  yarn.lock
Due: none

refactor: reorganize Tab component
  src/components/atoms/Tab/Tab.module.css
  src/components/atoms/Tab/Tab.stories.tsx
  src/components/atoms/Tab/Tab.tsx
  src/components/atoms/Tab/index.ts
  src/components/environments/tips/apply.mdx
  src/components/organisms/SchoolTab/SchoolTab.stories.tsx
  src/components/organisms/SchoolTab/SchoolTab.tsx
  src/components/organisms/SchoolTab/index.ts
Due: yarn eslint, yarn prettier --check --loglevel warn ., yarn stylelint

refactor: table and english requirement data
  src/components/ecosystems/tips/compare/CostTable/CostTable.tsx
  src/components/environments/tips/apply.mdx
  src/components/environments/tips/compare.mdx
  src/components/molecules/SchoolTh/SchoolTh.stories.tsx
  src/components/molecules/SchoolTh/SchoolTh.tsx
  src/components/molecules/SchoolTh/index.ts
  src/components/organisms/EnglishRequirementByExamTable/EnglishRequirementByExamTable.stories.tsx
  src/components/organisms/EnglishRequirementByExamTable/EnglishRequirementByExamTable.tsx
  src/components/organisms/EnglishRequirementByExamTable/index.ts
  src/components/organisms/EnglishRequirementBySchoolTable/EnglishRequirementBySchoolTable.stories.tsx
  src/components/organisms/EnglishRequirementBySchoolTable/EnglishRequirementBySchoolTable.tsx
  src/components/organisms/EnglishRequirementBySchoolTable/index.ts
  src/components/organisms/EnglishRequirementTable/EnglishRequirementTable.module.css
  src/components/organisms/EnglishRequirementTable/EnglishRequirementTable.tsx
  src/components/organisms/EnglishRequirementTable/index.ts
  src/components/organisms/SchoolDataTable/SchoolDataTable.stories.tsx
  src/components/organisms/SchoolDataTable/SchoolDataTable.tsx
  src/components/organisms/SchoolDataTable/index.ts
  src/components/organisms/SchoolTable/SchoolTable.stories.tsx
  src/components/organisms/SchoolTable/index.ts
  src/data/english-requirement.ts
Due: yarn eslint, yarn prettier --check --loglevel warn ., yarn stylelint

docs: add cambridge english and show N/A and 指定なし
  src/components/atoms/Tab/Tab.module.css
  src/components/environments/tips/apply.mdx
  src/components/environments/tips/compare.mdx
  src/components/organisms/EnglishRequirementByExamTable/EnglishRequirementByExamTable.tsx
  src/components/organisms/EnglishRequirementBySchoolTable/EnglishRequirementBySchoolTable.tsx
  src/data/english-requirement.ts
Due: yarn eslint, yarn prettier --check --loglevel warn ., yarn stylelint

fix: use container component for CostTable
  src/components/ecosystems/tips/compare/CostTable/index.ts
Due: yarn eslint, yarn prettier --check --loglevel warn .

docs: update as of today
  src/components/environments/tips/apply.mdx
  src/components/environments/tips/compare.mdx
  src/components/environments/tips/learn-english.mdx
  src/data/application-deadline.ts
  src/data/cost-of-attendance.ts
  src/data/school.ts
Due: yarn eslint, yarn prettier --check --loglevel warn .

fix: typo and types
  src/components/environments/schools/byui.mdx
  src/components/organisms/EnglishRequirementByExamTable/EnglishRequirementByExamTable.stories.tsx
Due: yarn eslint, yarn prettier --check --loglevel warn .

chore: Update dependency eslint-plugin-react to ^7.29.4
  package.json
  yarn.lock
Due: none
